BIP39_PUBLISH_PORT=11002

OPENCLAW_GATEWAY_PUBLISH_PORT=20789

HERMES_DASHBOARD_PUBLISH_PORT=19119

HERMES_API_SERVER_PUBLISH_PORT=18642

FEDORA44_AI_CAPABILITIES=NET_ADMIN,NET_RAW

FEDORA44_AI_DEVICES=/dev/net/tun
