DISPLAY=:0
NO_AT_BRIDGE=1
XDG_RUNTIME_DIR=/tmp/runtime-root
#required:
OPENCLAW_START=1
#required:
HERMES_START=1
#required:
OPENCLAW_GATEWAY_TOKEN=example: openssl rand -hex 32
#repeat-group: OPENAI_V1 suffix OPENAI_V1_PROVIDER OPENAI_V1_URL OPENAI_V1_PORT OPENAI_V1_KEY OPENAI_V1_API_KEY_ALIAS
#required:
OPENAI_V1_PROVIDER=litellm
#required:
OPENAI_V1_URL=http://litellm
#default-preset: 443
#required:
OPENAI_V1_PORT=443
#required:
OPENAI_V1_KEY=
#reverse-varname: OPENAI_V1_KEY
#required:
OPENAI_V1_API_KEY_ALIAS=
#default-preset: gemini/gemini-3.5-flash
#required:
OPENCLAW_OPENAI_V1_DEFAULT_LLM=gemini/gemini-3.5-flash
#default-preset: gemini/gemini-3.5-flash
#required:
HERMES_OPENAI_V1_DEFAULT_LLM=gemini/gemini-3.5-flash
#valuedupe: HERMES_DASHBOARD_BASIC_AUTH_PASSWORD
#required:
HERMES_API_SERVER_KEY=example: openssl rand -hex 32
#default-preset: hermes
#required:
HERMES_DASHBOARD_BASIC_AUTH_USERNAME=hermes
#required:
HERMES_DASHBOARD_BASIC_AUTH_PASSWORD=example: openssl rand -hex 32
#required:
OPENCLAW_TELEGRAMTOKEN=
#required:
OPENCLAW_TELEGRAM_CHAT_ID=
#required:
GH_TOKEN=
#required:
HERMES_TELEGRAMTOKEN=Hermes-Agent
BRAVE_API_KEY=
CLAUDE_CODE_OAUTH_TOKEN=
