DISPLAY=:0
NO_AT_BRIDGE=1
XDG_RUNTIME_DIR=/tmp/runtime-root
#required:
OPENCLAW_START=1
#required:
HERMES_START=1
#required:
OPENCLAW_GATEWAY_TOKEN=example: openssl rand -hex 32
OPENAI_V1_PROVIDER=litellm
#required:
OPENAI_V1_URL=http://litellm
#required:
OPENAI_V1_PORT=4000
#required:
OPENAI_V1_KEY=
#default-preset: gemini/gemini-3.5-flash
#required:
OPENCLAW_OPENAI_V1_DEFAULT_LLM=gemini/gemini-3.5-flash
#default-preset: gemini/gemini-3.5-flash
#required:
HERMES_OPENAI_V1_DEFAULT_LLM=gemini/gemini-3.5-flash
#required:
HERMES_API_SERVER_KEY=example: openssl rand -hex 32
#required:
OPENCLAW_TELEGRAMTOKEN=
#required:
OPENCLAW_TELEGRAM_CHAT_ID=
#required:
GH_TOKEN=
#required:
HERMES_TELEGRAMTOKEN=Hermes-Agent
BRAVE_API_KEY=
CLAUDE_CODE_OAUTH_TOKEN=
