[Unit]
Description=CITADEL runtime setup
Before=citadel.service
After=network.target

[Service]
Type=oneshot
PassEnvironment=CITADEL_WEBUI_PORT CITADEL_SCAN_ON_START CITADEL_SCAN_DELAY CITADEL_DATA_DIR CITADEL_SUBNET_IP CITADEL_TAILSCALE CITADEL_CLOUDFLARE CITADEL_CLOUDFLARE_DOMAIN CITADEL_CLOUDFLARE_ACCOUNT_ID CITADEL_CLOUDFLARE_ZONE_ID CITADEL_CLOUDFLARE_TUNNEL_ID CITADEL_CLOUDFLARE_ORIGIN_HOST CLOUDFLARE_API_TOKEN CLOUDFLARE_EMAIL TUNNEL_TOKEN TS_STATE_DIR TS_AUTHKEY TS_HOSTNAME FASTAPI_HOST CODEANALYST_PORT JUGO_PORT USE_TMUX TMUX_SHELL JUGO_TMUX_SESSION_PREFIX DB_TYPE DB_PATH DB_URL DB_PORT DB_NAME_JUGO DB_USER_JUGO DB_PW_JUGO DEEPL_API_KEY XAI_API_KEY OPENAI_API_KEY GEMINI_API_KEY ELEVENLABS_API_KEY GOOGLE_TTS_CREDENTIALS OPENAI_V1_PROVIDER OPENAI_V1_URL OPENAI_V1_PORT OPENAI_V1_KEY BIP39_PORT CLAUDE_CODE_OAUTH_TOKEN
ExecStart=/usr/local/bin/citadel-persist
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
