[Unit]
Description=CODEANALYST
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/safrano9999/CODEANALYST
Environment=CODEANALYST_PORT=11000
ExecStart=uvicorn webui:app --host 0.0.0.0 --port ${CODEANALYST_PORT}
Restart=on-failure

[Install]
WantedBy=multi-user.target
