[Unit]
Description=Fedora43 AI local state sync

[Service]
Type=oneshot
ExecStart=/usr/local/bin/fedora44-ai-init
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
