[Unit]
Description=KIWIX_BRIDGE
After=network.target tailscale-up.service
Wants=tailscale-up.service

[Service]
Type=simple
WorkingDirectory=/opt/safrano9999/KIWIX_BRIDGE
PassEnvironment=FASTAPI_HOST KIWIX_BRIDGE_PORT KIWIX_URL OPENAI_V1_PROVIDER OPENAI_V1_URL OPENAI_V1_PORT OPENAI_V1_KEY
Environment=KIWIX_BRIDGE_PORT=11008
ExecStart=python3 bin/web.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
